<!-- statistika-auta.component.html -->
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header text-center">
          <h2>Statistika Auta</h2>
        </div>
        <div class="card-body">
          <div *ngIf="statistika.length">
            <table class="table table-striped table-bordered table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Ukupan Broj Vozila</th>
                  <th scope="col">Najčešći Model</th>
                  <th scope="col">Najčešća Godina Proizvodnje</th>
                  <!-- Add more headers as per your data structure -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of statistika">
                  <td>{{ item.id }}</td>
                  <td>{{ item.ukupanBrojVozila }}</td>
                  <td>{{ item.najcesciModel }}</td>
                  <td>{{ item.najcescaGodinaProizvodnje }}</td>
                  <!-- Add more columns as per your data structure -->
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="!statistika.length">
            <p class="text-center">No data available.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
