<div class="wrapper">
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <button class="btn btn-primary marginbtn" (click)="openForm('entity')">Napravi entitet</button>
        <button class="btn btn-primary marginbtn" (click)="openForm('warrant')">Napravi nalog</button>
        <button class="btn btn-primary marginbtn" (click)="openForm('hearing')">Napravi salsucanje</button>
      </div>
    </div>

    <!-- Legal Entity Form -->
    <form *ngIf="selectedForm === 'entity'" (ngSubmit)="submitEntity()">
      <div class="form-group">
        <label for="entityTitle">Naslov</label>
        <input type="text" class="form-control" id="entityTitle" [(ngModel)]="entity.title" name="title" required>
      </div>
      <div class="form-group">
        <label for="entityDescription">Opis</label>
        <input type="text" class="form-control" id="entityDescription" [(ngModel)]="entity.description" name="description" required>
      </div>
      <div class="form-group">
        <label for="entityIssueDate">Izdato</label>
        <input type="datetime-local" class="form-control" id="entityIssueDate" [(ngModel)]="entity.issueDate" name="issueDate" required>
      </div>
      <div class="form-group">
        <label for="entityDueToDate">Vazi do</label>
        <input type="datetime-local" class="form-control" id="entityDueToDate" [(ngModel)]="entity.dueToDate" name="dueToDate" required>
      </div>
      <div class="form-group">
        <label for="entityUserId">JMBG Korisnika</label>
        <input type="text" class="form-control" id="entityUserId" [(ngModel)]="entity.jmbg" name="userId" required>
      </div>
      <div class="form-group">
        <input type="checkbox" id="licenseCheckbox" [(ngModel)]="entity.licence" name="hasLicense" (change)="toggleCategoryOptions()">
        <label for="licenseCheckbox">Suspendovanje dozvole??</label>
      </div>
      <div class="form-group" *ngIf="entity.licence">
        <label for="category">Category</label>
        <select class="form-control" id="category" [(ngModel)]="entity.category" name="category" required>
          <option value="">Izaberite kategoriju</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="A1">A1</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success marginbtn">Kreiraj legalni entitet</button>
    </form>

    <!-- Other forms remain unchanged -->

  </div>
</div>
