<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header text-center">
          <h2>Statistika Saslušanja</h2>
        </div>
        <div class="card-body">
          <div *ngIf="statistika.length">
            <table class="table table-striped table-bordered table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Najčešći Razlog Saslušanja</th>
                  <th scope="col">Prosečno Trajanje Saslušanja</th>
                  <th scope="col">Broj Godišnjih Saslušanja</th>
                  <!-- Dodajte još zaglavlja prema strukturi podataka -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of statistika">
                  <td>{{ item.id }}</td>
                  <td>{{ item.najcesciRazlogSaslusanja }}</td>
                  <td>{{ item.prosecnoTrajanjeSalusanja }}</td>
                  <td>{{ item.brojGodisnjihSaslusanja }}</td>
                  <!-- Dodajte još kolona prema strukturi podataka -->
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="!statistika.length">
            <p class="text-center">Nema dostupnih podataka.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
