<!-- court-home.component.html -->
<div class="wrapper">
    <div>
      <h2>Automobili u sistemu</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Owner id</th>
            <th scope="col">Car id</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">License Plate</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{vehicle.owner_id}}</td>
            <td>{{vehicle.id}}</td>
            <td>{{ vehicle.make }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.year }}</td>
            <td>{{ vehicle.license_plate}}</td>
            <td>
              <button (click)="deleteVehicle(vehicle.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>Registracije</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Car</th>
            <th scope="col">name</th>
            <th scope="col">issuing_date</th>
            <th scope="col">valid_until_date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registration of registrations; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ registration.id}}</td>
            <td>{{ registration.car_id}}</td>
            <td>{{ registration.name}}</td>
            <td>{{ registration.issuing_date}}</td>
            <td>{{ registration.valid_until_date}}</td>
            <td>
              <button (click)="deleteRegistration(registration.id)" class="btn btn-danger">Delete</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>Vozacke Dozvole</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kategorija</th>
            <th scope="col">Datum Izdavanja</th>
            <th scope="col">Vazi do</th>
            <th scope="col">Adresa</th>
            <th scope="col">Poeni</th>
            <th scope="col">je Vazeca</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let licence of licenses; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ licence.category }}</td>
            <td>{{ licence.issuing_date }}</td>
            <td>{{ licence.valid_until_date}}</td>
            <td>{{ licence.address }}</td>
            <td>{{ licence.points }}</td>
            <td>{{ licence.is_valid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    