/* navbar.component.css */
.navbar {
  background-color: #fff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the navbar is on top of other elements */
  transition: background-color 0.3s ease;
  padding-right: 100px;
  padding-left: 100px;
}
.left-side{
  width: 50vw;
  align-items: center;
  flex-wrap: nowrap;
}
.navbar-nav {
  display:flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.nav-item {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #333; /* Dark gray text color */
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease;
  animation: fadeIn 0.5s ease-in-out;
}

.nav-link:hover {
  color: #007bff; /* Blue color on hover */
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.register-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.register-button:hover {
  background-color: darkblue;
}


