<div class="wrapper">
    <div class="container">
      <div class="row mt-3">
        <div class="col">
          <button class="btn primary-btn marginbtn" (click)="openForm('addVehicle')">Dodaj vozilo u sistem</button>
          <button class="btn primary-btn marginbtn" (click)="openForm('registration')">Registruj vozilo</button> 
          <button class="btn primary-btn marginbtn" (click)="openForm('license')">Izdavanje vozačkih dozvola</button>
        </div>
      </div>

      <!-- Car Adding Form   Za sada radi vrhunski--> 
      <form *ngIf="selectedForm === 'addVehicle'" class="form" (ngSubmit)="submitCar()">
        <div class="form-group">
             <!-- Ovo cu verovtno da zamenim da ne bude bas ID, al za sad me mrzi 
              jer moram da menjam i back hahahah--> 
          <label for="carOwnerId">Owner ID</label>
          <input type="text" class="form-control" id="carOwnerId" [(ngModel)]="car.owner_id" name="owner_id" required>
        </div>
        <div class="form-group">
          <label for="carMake">Make</label>
          <input type="text" class="form-control" id="carMake" [(ngModel)]="car.make" name="make" required>
        </div>
        <div class="form-group">
          <label for="carModel">Model</label>
          <input type="text" class="form-control" id="carModel" [(ngModel)]="car.model" name="model" required>
        </div>
        <div class="form-group">
          <label for="carYear">Year</label>
          <input type="number" class="form-control" id="carYear" [(ngModel)]="car.year" name="year" required>
        </div>
        <div class="form-group">
          <label for="carLicensePlate">License Plate</label>
          <input type="text" class="form-control" id="carLicensePlate" [(ngModel)]="car.license_plate" name="license_plate" required>
        </div>
        <button type="submit" class="btn success-btn marginbtn">Dodaj vozilo</button>
      </form>

<!-- Vehicle Registration Form -->
<form *ngIf="selectedForm === 'registration'" class="form" (ngSubmit)="submitRegistration()">
  <div class="form-group">
    <label for="carSelect">Select Car</label>
    <select class="form-control" id="carSelect" [(ngModel)]="registration.car_id" name="car_id" required>
      <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.make }} {{ vehicle.model }} - {{ vehicle.license_plate }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="vehicleIssuingDate">Datum Izdavanja</label>
    <input type="datetime-local" class="form-control" id="vehicleIssuingDate" [(ngModel)]="registration.issuingDate" name="issuingDate" required>
  </div>
  <div class="form-group">
    <label for="vehicleValidUntilDate">Važi Do</label>
    <input type="datetime-local" class="form-control" id="vehicleValidUntilDate" [(ngModel)]="registration.validUntilDate" name="validUntilDate" required>
  </div>
  <button type="submit" class="btn success-btn marginbtn">Registruj Vozilo</button>
</form>

   
      <!-- Vehicle License Form -->
<form *ngIf="selectedForm === 'license'" class="form" (ngSubmit)="submitLicense()">
  <div class="form-group">
    <label for="licenseCategory">Kategorija</label>
    <input type="text" class="form-control" id="licenseCategory" [(ngModel)]="license.category" name="category" required>
  </div>
  <div class="form-group">
    <label for="licenseIssuingDate">Datum Izdavanja</label>
    <input type="datetime-local" class="form-control" id="licenseIssuingDate" [(ngModel)]="license.issuingDate" name="issuingDate" required>
  </div>
  <div class="form-group">
    <label for="licenseValidUntilDate">Vazi Do</label>
    <input type="datetime-local" class="form-control" id="licenseValidUntilDate" [(ngModel)]="license.validUntilDate" name="validUntilDate" required>
  </div>
  <div class="form-group">
    <label for="licenseAddress">Adresa</label>
    <input type="text" class="form-control" id="licenseAddress" [(ngModel)]="license.address" name="address" required>
  </div>
  <div class="form-group">
    <label for="licensePoints">Poeni</label>
    <input type="number" class="form-control" id="licensePoints" [(ngModel)]="license.points" name="points" required>
  </div>
  <div class="form-group">
    <label for="licenseIsValid">je Vazeca</label>
    <input type="checkbox" class="form-check-input" id="licenseIsValid" [(ngModel)]="license.isValid" name="isValid">
  </div>
  <button type="submit" class="btn success-btn marginbtn">Issue License</button>
</form>

  