<div class="container text-center mt-4">
  <h2>Izaberite statistiku:</h2>
  <div class="row justify-content-center mt-4">
    <!-- Existing buttons -->
    <div class="col-sm-3 mb-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        routerLink="/statistika-prekrsaja"
      >
        Statistika Prekršaja
      </button>
    </div>
    <div class="col-sm-3 mb-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        routerLink="/statistika-nesreca"
      >
        Statistika Nesreća
      </button>
    </div>
    <div class="col-sm-3 mb-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        routerLink="/statistika-vozackih"
      >
        Statistika Vozačkih Dozvola
      </button>
    </div>
    <div class="col-sm-3 mb-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        routerLink="/statistika-registracija"
      >
        Statistika Registracija
      </button>
    </div>
    <div class="col-sm-3 mb-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        routerLink="/statistika-auta"
      >
        Statistika Auta
      </button>
    </div>

    <!-- Additional buttons -->
    <div class="col-sm-3 mb-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        routerLink="/statistika-saslusanja"
      >
        Statistika Saslušanja
      </button>
    </div>
    <div class="col-sm-3 mb-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        routerLink="/statistika-pretresa"
      >
        Statistika Pretresa
      </button>
    </div>
    <div class="col-sm-3 mb-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        routerLink="/statistika-zahteva"
      >
        Statistika Zahteva
      </button>
    </div>
  </div>
</div>
