* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(197, 197, 241);
}
.error-message{
  color:red;
  font-size: 15px;
}
.wrapper {
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

.wrapper h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.wrapper form .input-box {
  margin-bottom: 1.3rem;
}

.wrapper form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.wrapper form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.wrapper form .button input {
  color: #fff;
  background: rgb(17, 23, 216);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.wrapper form .button input:hover {
  background: #040875;
}
re-captcha.is-invalid > div {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}
